# Konfiguracja deploymentu – skopiuj do .env i uzupełnij
SSH_HOST="neil224.mikrus.xyz"
SSH_PORT=10224
SSH_USER="root"
SSH_PASSWORD="twoje_haslo"
LOCAL_DIR="C:\Users\SEBASTIAN\Desktop\nexus-agency"
WEB_DIR="/var/www/html"
